{% extends "base.html" %}

{% block cuerpo %}
<div class="row"><!-- Fila en editar -->
    <div class="col-md-4 offset-md-4">
        <h2>Editar Empleado</h2>
        <!-- Aquí código tarjeta -->
        <div class="card"> <!-- La tarjeta -->
            <div class="card-body">
                <form action="/editarEmpleado/" method="POST"> {% csrf_token %}
                    <div class="form-group py-3">
                        <input type="text" id="num_id_empleado" name="num_id_empleado" class="form-control" placeholder="ID empleado" value="{{ misempleados.id_empleado }}" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txt_nombres" name="txt_nombres" class="form-control" value="{{misempleados.nombres}}" maxlength="50" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txt_apellidos" name="txt_apellidos" class="form-control" value="{{misempleados.apellidos}}" maxlength="100" required><br>
                    </div>
                    <div class="form-group">
                        <input type="email" id="txt_email" name="txt_email" class="form-control" value="{{misempleados.email}}" maxlength="100" required><br>
                    </div>
                    <div class="form-group">
                        <input type="password" id="txt_password" name="txt_password" class="form-control" value="{{misempleados.password}}" minlength="1" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txt_puesto" name="txt_puesto" class="form-control" value="{{misempleados.puesto}}" maxlength="50" required><br>
                    </div>
                    <div class="form-group">
                        <input type="date" id="date_fecha_registro" name="date_fecha_registro" class="form-control" value="{{misempleados.fecha_registro}}" required><br>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-warning">Guardar Empleado</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Aquí código tarjeta -->
    </div>
</div><!-- Fila en editar -->

{% endblock %}
